<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<script>
		$('.message a').click(function() {
			$('form').animate({
				height : "toggle",
				opacity : "toggle"
			}, "slow");
		});
	</script>
	
	<div class="login-page">
		<div class="form">
			<form class="login-form" name="userForm" action="/login"
				method="post">
				<input type="text" placeholder="Email" name="username" /> <input
					type="password" placeholder="password" name="password" />
				<button type="submit">login</button>
				<p class="message">
					Not registered? <a href="/user/register">Create an account</a>
				</p>
				<p><span th:text="${successMessage}"></span></p>
			</form>
		</div>
	</div>
</body>
</html>