<html lang="en">
<head>
<title>Index Page</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<script>
		$('.message a').click(function() {
			$('form').animate({
				height : "toggle",
				opacity : "toggle"
			}, "slow");
		});
	</script>
	<div class="login-page">
		<div class="form">
			<form class="login-form" name="userForm" action="/user/create" method="post">
				<input type="text" placeholder="username" name="username" /> <input
					type="password" placeholder="password" name="password" /> <input
					type="password" placeholder="Confirm password"
					name="confirmPassword" /> <input type="text" placeholder="Email"
					name="email">
				<button type="submit">Sign Up</button>
				</p>
			</form>
		</div>
	</div>
</body>
</html>
